[
  {
    "name": "GUI",
    "uiBaseUrl": "https://trello.com",
    "apiBaseUri": "https://api.trello.com/1",
    "accounts": [
      {
        "user": "user1",
        "email": "",
        "password": "",
        "key": "",
        "token": ""
      },
      {
        "user": "user2",
        "email": "",
        "password": "",
        "key": "",
        "token": ""
      }
    ]
  }
]
